<!-- <div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let news of newsList">
      <a [href]='news.url'>
        <img class="card-img-top" [src]='news.urlToImage' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.description}}</p>
        </div>
      </a>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let news of newsLiveList">
        <a [href]='news.url'>
          <img class="card-img-top" [src]='news.urlToImage' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{news.title}}</h5>
            <p class="card-text">{{news.description}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>